
*, *::before, *::after  {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #2d2f30, #45584e);
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100px;
    max-height: 300;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}
.grid-container > button {
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    outline: none;
    color: white;
}
.grid-container>button:hover {
    animation-duration: 5s;
    background-color: rgba(255, 255, 255, .2);
}
.grid-container>button:active {
    background-color: rgba(108, 189, 122, 0.07);
}
.grid-container>#equals-button {
    background-color: rgba(111, 231, 121, 0.2);
}
.grid-container>#equals-button:hover {
    background-color: rgba(255, 255, 255, .2);
}
.grid-container>#equals-button:active {
    background-color: rgba(108, 189, 122, 0.07);
}


.displays {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.displays>#input-display {
    color: rgba(255, 255, 255, .75);
}
.displays>#result-display {
    color: white;
    font-size: 2.5rem;
}